@model UserManagementApp.Models.UserModel

<h2>Login</h2>
<form asp-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Login</button>
    <a href="@Url.Action("Register", "User")" class="btn btn-link mt-3 ml-3">User Register</a>
</form>

<div asp-validation-summary="All" class="text-danger"></div>
